@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('main.css');
@import url('footer.css');

:root {
    --cor_fundo: #000000;
    --cor_letra: #F0F0F0;
    --cor_destaque: #FF5100;
    --cor_hover: #272727;
    --fonte_tamanho_titulo: 2.5rem;
    --fonte_tamanho_subtitulo: 1.875rem;
    --fonte_tamanho_texto: 1.25rem;
    --padding_padrao: 0.5rem;
    --gap_padrao: 1.25rem;
}

* {
    margin: 0;
    padding: 0;
    color: var(--cor_letra);
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor_fundo);
}
